html,
body {
  height: 100%;
}

body {
  display: flex;
	align-items: flex-start;
  padding-top: 90px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #f5f5f5;
}

.main-search {
  display:flex;
  height:100%;
  align-items: flex-start;
  justify-content: center;
  max-width: 920px;
  min-width: 325px;
  padding-top: 20px;
}

.nav-bar{
  position: sticky;
  top: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border-left:solid rgb(151, 146, 146) 1px;
  border-right:solid rgb(151, 146, 146) 1px;
  border-bottom:solid rgb(151, 146, 146) 1px;
  border-top:solid rgb(151, 146, 146) 1px;
  display:flex;
  max-width: 920px;
  min-width: 325px;
  padding: 10px;
  z-index: 2
}

#addNewContactButton{
  float:left; 
  display:inline;
  width: 42%;
  min-width: 150px;
  margin-right: 3%;
  white-space: nowrap;
}
#searchInput{
  float:left; 
  display:inline;
  width: 68%;
}

/*#searchPrompt{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}*/

th, td {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

table {
  border-spacing: 30px;
}

.form-signin input[id="firstInput"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="lastInput"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="emailInput"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="phoneInput"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Couldn't find another way to left justify, will need to test on other sized screens*/
.btn-danger {
  display: flex;
  align-items: center;
  position: absolute;
  top:90.375%;
  right: 81.5%;
  width: 72px;
  transform: translateY(-50%);
}

.position-relative {
  height: 200px;
  width: 100%;
  background-color: #f5f5f5;
  }
  .position-relative div {
  width: 2em;
  height: 2em;
  background-color: #343a40;
  border-radius: .25rem;
  }